

{% extends 'homebase.html.twig' %}

{% block title %}CONTACT -- {{parametre[0].titre}}{% endblock %}
{% block motscles %}{{parametre[0].motscles}}{% endblock %}
{% block description %}{{parametre[0].description}} {% endblock %}



{% block body %}

  <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Nous Contacter</h5>
                    <h1 class="mb-5">Contactez nous pour d'Autres requêtes</h1>
                        
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Reservation</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>piamfood@gmail.com</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Informations Générales</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>piamfood@gmail.com</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Côté Technique</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>piamfood@gmail.com</p>
                            </div>
                        </div>
                    </div>
                  

                
                    <div class="container">
                        <div class="row g-4">
                         <div class="col-md-6" >
                              <div class="service-item rounded pt-3">
                                 <div class="p-4">

                                  <h3 class="rheading">Retrouvez Nous sur tous Nos Réseaux<span></span></h3>
                                  <div class="row">  
                                         <div class="col-md-2"> 
                                        <div class="col-lg-3 col-md-9">
                                       <div class="d-flex pt-2">
                                            <a href="" title="Facebook"><i class="fab fa-facebook fa-3x"></i></i></a>
                                            <a href="" title="Instagram"><i class="fab fa-instagram fa-3x"></i></a>
                                            <a href="" title="whatsapp"><i class="fab fa-whatsapp fa-3x"></i></a>
                                            
                                         </div>
                                       </div>   
                                        </div>
                                     </div>
                                        <hr class="width=50%">
                                    <h3 class="rheading"><span>contacts d'informations</span></h3>
                                  <div class="widget">
                                    <div class="widget">
                                         {{ parametre[0].contact |raw }}
                                        
                                        </br>

                            </div>
                        
                         </div>
                               
                    </div>
                
                </div>

             </div>   


                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                          {{ include('messages.html.twig') }}
                            <form name="messages"  method="post" role="form" class="contactForm">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control"  id="messages_nom" name="messages[nom]" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                            <label for="nom">Votre Nom</label>
                                            <div class="validation"></div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="messages_email" name="messages[email]" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                                            <label for="email">Votre Email</label>
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="messages_sujet" name="messages[suujet]" maxlength="75" placeholder="Suujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                            <label for="sujet">Sujet</label>
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="messages_message" name="messages[message]" maxlength="255" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                            <label for="message">Message</label>
                                             <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                     <input type="hidden" name="token" value="{{ csrf_token('form-message') }}" />
                                        <button class="btn btn-primary w-100 py-3" type="submit">Soumettre</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Contact End -->


         <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-9">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">PIAMFOOD</h4>
                        <a class="btn btn-link" href="{{ path('apropos') }}">A Propos de Nous</a>
                        <a class="btn btn-link" href="">Nous Contacer</a>
                        <a class="btn btn-link" href="">Reserver une Table</a>
                        <a class="btn btn-link" href="">Politique de Confidentialité</a>
                        <a class="btn btn-link" href="">Terms & Conditions</a>
                    </div>
                    <div class="col-lg-3 col-md-9">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Rue, Lomé, Togo</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+228 12345678</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>piamfood@gmail.com.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-9">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Ouvertures</h4>
                        <h5 class="text-light fw-normal">Lundi - Samedi</h5>
                        <p>09H - 24HH</p>
                        <h5 class="text-light fw-normal">Dimanche</h5>
                        <p>10H - 24H</p>
                    </div>
                    
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="/">PIAMF0OD</a>, Tous Droits reservés. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


{% endblock %}
