
{% extends 'homebase.html.twig' %}

{% block titre %} {{parametre[0].titre}}{% endblock %}
{% block motscles %} {{parametre[0].motscles}} {% endblock %}

{% block slider %} {% include('home/slider.html.twig') %} {% endblock %}


{% block body %}

		 <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Maitres Chefs</h5>
                                <p>Toujours à Votre Service grâce aux plats remarquables mis sur pieds</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                                <h5>Repas de Qualité</h5>
                                <p>Toujours à Votre Service grâce aux plats remarquables mis sur pieds</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                                <h5>Commande en Ligne</h5>
                                <p>Nous mettons en place le service en ligne pour le plus grand bien de nos clients </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>Service 24H/7J </h5>
                                <p>Un service adéquat pour toujours vous satisfaire</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- About Start --> 
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                           <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="img/logopiamfood.jpg">
                            </div>  
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="img/about-1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="img/about-2.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="img/about-3.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="img/about-4.jpg">
                            </div>                         
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">A Propos de Nous</h5>
                        <h1 class="mb-4">Bienvenue(s) à <i >PIAMFOOD</i></h1>
                                 
                        
                <div class="section-title section-default-two">
                                    <h2 class="title-main">PIAMFOOD</h2>
                                         
                             <p class="mb-4">
                                   PIAMFOOD est un restaurant basé à Lomé, proposant des pizzas, 
                                   des burgers, des crèmes, des boissons et des plats locaux offerts dans un cadre convivial.
                               
                              <div>
                                <a class="btn btn-primary py-3 px-5 mt-2" href="{{ path('apropos') }}">Lire Plus</a>

                             </div>

                            </p>
                        
                </div>

                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">3</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Années d'</p>
                                        <h6 class="text-uppercase mb-0">Expérience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">10</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Populaires</p>
                                        <h6 class="text-uppercase mb-0">Maitres Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        {#<a class="btn btn-primary py-3 px-5 mt-2" href="{{ path('apropos') }}">Lire Plus</a>#}

                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Menu Start -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal"> Menus</h5>
                    <h1 class="mb-5">Menus</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                              <i> <img src="img/26.png" alt="Logo"></i>
                                <div class="ps-3">
                                    <small class="text-body"></small>
                                    <h6 class="mt-n1 mb-0"></h6>
                                </div>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-2">
                              <i> <img src="img/27.png" alt="Logo"></i>
                                <div class="ps-3">
                                    <small class="text-body"></small>
                                    <h6 class="mt-n1 mb-0"></h6>
                                </div>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 " data-bs-toggle="pill" href="#tab-3">
                              <i> <img src="img/28.png" alt="Logo"></i>
                                <div class="ps-3">
                                    <small class="text-body"></small>
                                    <h6 class="mt-n1 mb-0"></h6>
                                </div>
                            </a>
                        </li>
                          <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 " data-bs-toggle="pill" href="#tab-4">
                              <i> <img src="img/29.png" alt="Logo"></i>
                                <div class="ps-3">
                                    <small class="text-body"></small>
                                    <h6 class="mt-n1 mb-0"></h6>
                                </div>
                            </a>
                        </li>
                       <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 " data-bs-toggle="pill" href="#tab-5">
                              <i> <img src="img/30.png" alt="Logo"></i>
                                <div class="ps-3">
                                    <small class="text-body"></small>
                                    <h6 class="mt-n1 mb-0"></h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-6">
                              <i> <img src="img/31.png" alt="Logo"></i>
                                <div class="ps-3">
                                    <small class="text-body"></small>
                                    <h6 class="mt-n1 mb-0"></h6>
                                </div>
                            </a>
                        </li>
                       
                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/2.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Margherita</span>
                                                <span class="text-primary">2500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate, Olive noire,emmental,mozarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/3.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Napolitaine</span>
                                                <span class="text-primary">2500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate, Olive noire,basilic, emmental,mozarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/4.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Royal Poulet</span>
                                                <span class="text-primary">2500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate, champignon, olive, poulet,emmental,mozarella</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/5 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Forestière</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Crème Fraiche, champignon, Jambon, oignon,emmental, mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                   <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/32.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Royal Jambon</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate, champignon, jambon, olive, emmental, mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/5 (3).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Américaine</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate, jambon,olive noire,emmental, mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/6 (3).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Hawaienne</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Crème Fraiche, Jambon,ananas,curry,mozzarella,emmental</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/6 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Bolognaise</span>
                                                <span class="text-primary">3500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate,vaine hachée,oignon,poivron,olive noire,emmental, mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/6 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Végétarienne</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate,vaine hachée,oignon,poivron,olive noire,emmental, mozzarella, mais doux</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/7 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>3Fromages</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate,vaine hachée,oignon,poivron,olive noire,emmental, mozzarella,chèvre chaud</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/7 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>pêcheur</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate,thon,oignon,olive,emmental, mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/7 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Africa</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate,piment,oignon,poivrons,aloko,wangash,mozzarella,mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/8 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Indienne</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Crème fraiche,tomate fraiche,champignons,oignon,boeuf haché,curie</small>
                                        </div>
                                    </div>
                                </div>

                                  <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/8 (3).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Parmentier</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Crème fraiche,patate douce,boeuf,haché,oignon,emmental,mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/8 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Reine</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Sauce tomate,jambon,baccon,champignon,emmental,mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/9 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Calzone</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">sauce tomate,boeuf,haché,oignon,petit pois,oeuf,emmental,mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/9 (3).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>4 fromages</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">sauce tomate, bleu,chèvre chaud,emmental,mozzarella</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/9 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chorizo</span>
                                                <span class="text-primary">6500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">sauce tomate,chorizo,poulet,tomate fraiche,oignon,emmental,mozzarella</small>
                                        </div>
                                    </div>
                                </div>  

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/10 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Pizza du chef</span>
                                                <span class="text-primary">7000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Demander la recette au chef</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/10 (3).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Pizza mixte</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Deux différentes pizzas au choix en une</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/10 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Fruit de Mer</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Crème fraiche,patate douce,boeuf,haché,oignon,emmental,mozzarella</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                            
                            <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/11 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Africa Burger</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue,oignons,viande hachée, Aloko,fromage,chedar</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/11 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Double cheese</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue,tomates,oignons,deux viandes hachées,fromage,2fromages cheddar</small>
                                        </div>
                                    </div>
                                </div>
                               
                               
                                
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/11 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Cheese Burger</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue, tomates,oignons,viande,hachée,fromage chedar</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/12 (2).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Togo Burger</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Choux,tomates,oignons,steak haché</small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/12 (3).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Végétarien Burger</span>
                                                <span class="text-primary">2000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Choux,carottes,oeuf</small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/12 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue,tomates,oignons,poulet,fromage chedar</small>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/12 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue,tomates,oignons,poulet,fromage chedar</small>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/12 (4).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>New York Burger</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue,tomates,oignons,viande hachée,fromage chedar,bacon</small>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/14.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sandwich Poulet</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitue, tomates,chiffonade de poulet</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/14.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sandwich Jambon Fromage</span>
                                                <span class="text-primary">2000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Cornichons, beurre,jambon,fromage</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/14.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sandwich Thon</span>
                                                <span class="text-primary">2000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic">Laitues,tomates, Thon, oeuf dur</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/14.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sandwich Viande hachée</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"> Curry oignons,Viande hachée, laitue</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/14.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sandwich Végétarien</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"> Laitue, carotte, choux</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/14.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sandwich Croque-Monsieur</span>
                                                <span class="text-primary">2000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                               
                                
                            </div>
                        </div>

                        <div id="tab-4" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/16(1).png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Salade Diwa</span>
                                                <span class="text-primary">2000 FCFA</span>
                                            </h5>
                                            <small class="fst-italic">Laitue, tomates, oignon, emmental, chiffonnade de poulet, œuf dur</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/33.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Salade Fermière</span>
                                                <span class="text-primary">2000 FCFA</span>
                                            </h5>
                                            <small class="fst-italic">Laitue, tomate, oignon, gésier, poivron, oignon, haricots vert, œuf dur</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/34.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Salade Au Thon</span>
                                                <span class="text-primary">2000 FCFA</span>
                                            </h5>
                                            <small class="fst-italic">Thon, laitue, tomates, olive noir, concombre</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/17.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Crudité De Légume</span>
                                                <span class="text-primary">2000 FCFA</span>
                                            </h5>
                                            <small class="fst-italic">Concombre, tomates, choux, carottes râpées</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div id="tab-5" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/17.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Cuisse de Poulet Rôti</span>
                                                <span class="text-primary">3500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/17.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Poulet Local Sauce Arachide</span>
                                                <span class="text-primary">4500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/18.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Pintade Locale</span>
                                                <span class="text-primary">4000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/18.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Sauté d'agneau à la crème de curry</span>
                                                <span class="text-primary">5000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/18.jpng" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Darne de poisson moyo côtière</span>
                                                <span class="text-primary">5500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/19.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Poisson à la plancha</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/19.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Minute de filet de boeuf aux épices locales</span>
                                                <span class="text-primary">6000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/19.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Spaghetti au poulet champignon-curry</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/20.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Tagliatelle au poulet champignon-curry</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/20.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Spaghetti Bolognaise</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/20.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Tagliatelle Bolognaise</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/21.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Spaghetti crème Fraiche champignon</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/21.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Tagliatelle crème Fraiche champignon</span>
                                                <span class="text-primary">3000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/21.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Spaghetti togolaise à la viande et aux Légumes</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/22.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Tagliatelle togolaise à la viande et aux Légumes</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/22.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Oeufs au Plat</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/22.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Omelettes aux fines herbes</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/23.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Omelettes aux légumes</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/23.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Omelettes aux fines herbes</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/23.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Omelettes Jambon Fromage</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/23.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Garnitures</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div id="tab-6" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/24.pNg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Salade de fruits</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/24.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Assiette de Fruit</span>
                                                <span class="text-primary">1500Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/24.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Boule de glace</span>
                                                <span class="text-primary">800Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="img/25.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Yaourt</span>
                                                <span class="text-primary">1000Fcfa</span>
                                            </h5>
                                            <small class="fst-italic"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->


        <!-- Reservation Start -->
        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="photo">
                        <img class="btn-play" src="img/logo.jpg" data-bs-toggle="modal" alt="" data-bs-target="#photoModal">
                       
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-big">Reservation</h5>
                        <h1 class="text-white mb-4">Reserver Une table en ligne</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Votre Nom</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Votre Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Date & Heure</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="select1">
                                          <option value="1">Personne 1</option>
                                          <option value="2">Personne 2</option>
                                          <option value="3">Personne 3</option>
                                        </select>
                                        <label for="select1">No Of People</label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message"> Requête spéciale</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Reserver Maintenant</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 <!--
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        16:9 aspect ratio 
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        Reservation End -->


     

        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Membres de l'Equipe</h5>
                    <h1 class="mb-5">Nos Maitres Chefs</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/logopiamfood.jpg" alt="">
                            </div>
                            <h5 class="mb-0">John Doe</h5>
                            <small>Maitre Cuisinier</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/logopiamfood.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Jack Doe</h5>
                            <small>Cuisinier</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/logopiamfood.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Joseph</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/logopiamfood.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        

        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Témoignages</h5>
                    <h1 class="mb-5">Ce Que Nos clients disent!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Nous adorons cet endroit</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/logo.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Piam Food</h5>
                                <small>Professeur</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Je kiffe le lieu </p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/logo.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Red Saimi</h5>
                                <small>Vulganistaeur</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>PiamFood, la référence</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/logo.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Abalo</h5>
                                <small>Policier</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Il n'y a pas meilleur endroit que PiamFood</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/logo.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">AKofa</h5>
                                <small>Experte Comptable</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        

       
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-9">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">PIAMFOOD</h4>
                        <a class="btn btn-link" href="{{ path('apropos') }}">A Propos de Nous</a>
                        <a class="btn btn-link" href="">Nous Contacer</a>
                        <a class="btn btn-link" href="">Reserver une Table</a>
                        <a class="btn btn-link" href="">Politique de Confidentialité</a>
                        <a class="btn btn-link" href="">Terms & Conditions</a>
                    </div>
                    <div class="col-lg-3 col-md-9">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Rue, Lomé, Togo</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+228 12345678</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>piamfood@gmail.com.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-9">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Ouvertures</h4>
                        <h5 class="text-light fw-normal">Lundi - Samedi</h5>
                        <p>09H - 24HH</p>
                        <h5 class="text-light fw-normal">Dimanche</h5>
                        <p>10H - 24H</p>
                    </div>
                    
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="/">PIAMF0OD</a>, Tous Droits reservés. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

{% endblock %}
