{% extends 'adminbase.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}

    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin( windowURL, windowName, windowFeatures ) { window.open( windowURL, windowName, windowFeatures ) ; 	}
    </SCRIPT>

       <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="col-md-4">
                            <a href="{{ path('menu_new') }}" class="btn btn-block btn-success" ><i class="fas fa-plus"></i>Creer un Menu</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Menu List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><button class="btn btn-block btn-secondary btn-lg disabled">Menu List Table</button></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">



    <table class="table table-striped projects">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Motscles</th>
                <th>Description</th>
                <th>Image</th>
                <th>Status</th>
             
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.titre }}</td>
                <td>{{ menu.motscles }}</td>
                <td>{{ menu.description }}</td>
                <td>
                <img src="{{ asset('uploads/images/' ~ menu.image) }}" height="100">  
                </td>

                <td>{{ menu.status }}</td>

                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}" class="btn btn-block btn-info" ><i class="fas fa-eye"></i></a>
                 </td>

                 <td>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}" class="btn btn-block btn-info"  ><i class="fas fa-edit"></i></a>
                </td>
                
                 <td>
                    {{ include('admin/menu/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}
