{% extends 'adminbase.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
        <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Menu</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                <h3 class="card-title" ><button class="btn btn-block btn-secondary btn-lg disabled">Menu List Table</button></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">


    <table class="table table-striped projects">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ menu.titre }}</td>
            </tr>
            <tr>
                <th>Motscles</th>
                <td>{{ menu.motscles }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ menu.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
             <td><img src="{{ asset('uploads/images/' ~ menu.image) }}" height="100"> </td>

            </tr>
            <tr>
                <th>Status</th>
                <td>{{ menu.status }}</td>
            </tr>
        
        </tbody>
    </table>
<div class="row">
        <div class="col-md-2">
    <a href="{{ path('menu_index') }}" class="btn btn-block btn-info">Revenir à la Liste</a>
        </div>
        </br>
        <div class="col-md-2">
    <a href="{{ path('menu_edit', {'id': menu.id}) }}" class="btn btn-block btn-success"><i class="fas fa-pencil-alt"></i></a>
         </div>
         </br>
         
         <div class="col-md-2">
    
    {{ include('admin/menu/_delete_form.html.twig') }}

    </div>
 </div>
    
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}
